

{{!Vista formulario ingreso de datos atletas}}

{{>navigationLogin}} 


<div class="container p-4">
    <div class = "row">
        <div class= "col-md-10 mx-auto">
            <div class= "card PanelAdd ">
                <div class="card-body PanelAdd">
                    <form action="/links/add" method = "post">
                        <div class="form-group p-4">
                            <input type="text" class="form-control add" name="title" placeholder="Title" style="color: white" autofocus required>
                        </div>
                        <div class="form-group p-4">
                            <input type="text" name= "documento" class= "form-control" placeholder="Documento" style="color: white" required>
                        </div>
                        <div class="form-group p-4">
                            <input type="text" name= "nombre_completo" class= "form-control" placeholder="Nombre Completo" style="color: white" required>
                        </div>
                        <div class="form-group p-4">
                            <input type="text" name= "direccion" class= "form-control" placeholder="Direccion" style="color: white">
                        </div>
                        <div class="form-group p-4">
                            <input type="text" name= "fecha_nacimiento" class= "form-control" placeholder="Fecha De Nacimiento" style="color: white" required>
                        </div>
                        <div class="form-group p-4">
                            <input type="text" name= "lugar_residencia" class= "form-control" placeholder="Lugar De Residencia" style="color: white" required>
                        </div>
                        <div class="form-group p-4">
                            <input type="text" name= "modalidad" class= "form-control" placeholder="Modalidad" style="color: white" required>
                        </div>
                        <div class="form-group p-4">
                            <input type="text" name= "nivel_estudio" class= "form-control" placeholder="Nivel De Estudio" style="color: white" required>
                        </div>
                        <div class="form-group p-4">
                            <input type="text" name= "maximo_logro" class= "form-control" placeholder="Maximo Logro Deportivo" style="color: white" required>
                        </div>
                        <div class="form-group p-4">
                            <input type="text" name= "minoria_etnica" class= "form-control" placeholder="Minoria Etnica" style="color: white" required>
                        </div>
                        <div class="form-group p-4">
                            <input type="text" name= "exento_cobro" class= "form-control" placeholder="Exento De Cobro" style="color: white" required>
                        </div>
                        <div class="form-group p-4">
                            <input type="text" name= "genero" class= "form-control" placeholder="Genero" style="color: white" required>
                        </div>
                        <div class="form-group p-4">
                            <input type="text" name= "lugar_procedencia" class= "form-control" placeholder="Lugar De Procedencia" style="color: white" required>
                        </div>
                        <div class="form-group p-4">
                            <input type="text" name= "actividad_economica" class= "form-control" placeholder="Actividad Economica" style="color: white" required>
                        </div>
                        <div class="form-group p-4">
                            <input type="email" name= "correo" class= "form-control" placeholder="Correo Electronico" style="color: white" required>
                        </div>
                        <div class="form-group p-4">
                            <input type="text" name= "nombre_entrenador" class= "form-control" placeholder="Nombre Del Entrenador" style="color: white" required>
                        </div>
                        <div class="form-group p-4">
                            <input type="number" name= "valor" class= "form-control" placeholder="Valor" value="10000" style="color: white">
                        </div>
                        <div class="form-group p-4">
                            <textarea name="description" rows="2" class="form-control" style="color: white"></textarea>
                        </div>
                        <div class="form-group ">
                            <button class= "btn btn-sucess btn-block text-light">
                                Save
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>