
<div class="navP">
<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand text-light" href="#"><h3>{{name}}</h3></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-light" aria-current="page" href="/links/add">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="/links">Atletas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="/importacion">Importación</a>
        </li>
      </ul>
    
      <form class="d-flex" role="search">
        
        <div class="container p-2">
          <a class="nav-link text-light" href="/logout">logout</a>
        </div>
        
      </form>
    </div>
  </div>
</nav>

      <form class="Buscador" action="/filtrar" method="post">
    
            <div class="Buscador-interior">
              <input style="color: white;" type="text" name="Atleta-filtro" class="form-control inputAtleta">
            </div> 
          
            <div class="buscador">
              <input type="submit" class="EnviarBuscador" value=" ">
            </div>
          

        </ul>
          
      </form>
</div>
