
{{!Vista de registro de usuarios}}

{{>navigation}}

<div class="container ">
        <div class="row justify-content-center pt-5 mt-5 mr-1">
          <div class="col-md-4 formulario">
            <form action="/signup" method="post">
              <div class="form-group text-center">
                <h3 class="text-light">Registro</h3>
              </div>
              <div class="form-group mx-sm-4 p-3">
                <input style="color: white;" type="text" name="fullname" placeholder="Full name" class="form-control" autofocus required>
              </div>
              <div class="form-group mx-sm-4 p-3">
                <input style="color: white;" type="text" name="username" placeholder="Username" class="form-control" required>
              </div>
              <div class="form-group mx-sm-4 p-3">
                <input style="color: white;" type="password" name="password" placeholder="Password" class="form-control" required>
              </div>
              <div class="container p-3">
                            
                            <select class="form-select mb-3 text-light" aria-label="default select example" name="perfil" required>
                                <option value="usuario" >Usuario</option>
                                <option value="admin" disabled>Administrador</option>
                            </select>

                </div>
              <div class="form-group text-center mx-sm-4 p-2 ">
                <input type="submit" class="btn btn-block text-light ingresar" value="SignUp">
              </div>

                {{#if error}}
                    <p class="text-danger">{{error}}</p>
                {{/if}}

            </form>
          </div>
        </div>
      </div>